[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
	branch = master
	ignore = all
[submodule "stable-diffusion.cpp"]
	path = stable-diffusion.cpp
	url = https://github.com/leejet/stable-diffusion.cpp.git
	branch = master
	ignore = all
